<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<!-- Google Tag Manager -->
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWBTFHL');
</script>
<!-- End Google Tag Manager -->
<head lang="uk">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90804626-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-90804626-1');
</script>

	 <meta name="yandex-verification" content="1a479454a015127c" />
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <meta name="Ltd. Annaland" content="Ltd.Annaland - is an agricultural company engaged in sales, cultivation and storage of agricultural products.">
     <meta name="Annaland" content="Ltd.Annaland - is an agricultural company engaged in sales, cultivation and storage of agricultural products.">
     <meta name="Анналанд" content="ТОВ Анналанд - це сільськогосподарська компанія, що займається реалізацією, вирощуванням та зберіганням сільськогосподарської продукції.">
     <meta name="ТОВ Анналанд" content="ТОВ Анналанд - це сільськогосподарська компанія, що займається реалізацією, вирощуванням та зберіганням сільськогосподарської продукції.">
     <meta name="TOV Annaland" content="ТОВ Анналанд - це сільськогосподарська компанія, що займається реалізацією, вирощуванням та зберіганням сільськогосподарської продукції.">
     <meta name="Keywords" content="ТОВ Анналанд-, Анналанд,TOV Annaland, Annaland">
     <meta name="Keywords" content="New Holland, John Deere, Ford, Atlas, Merlo, CLAAS, Steeno, Saxonia, Nordsten, Rumptstad, NIEMEYER, Kuhn, krakei, Hassia, Groenewegen, Grimmy, Deutz Fahr, Baselir, Amac, Agrifac, Трактори, Комбаїни, Оприскувачі, Плуги, Гребнеутворювачі, Копалки, Сажалки, Сівалки, Продажа Тракторів, Продажа Комбаїнів, Продажа Оприскувачів, Продажа Плуги, Продажа Гребнеутворювачі, Продажа Копалки, Продажа Сажалки, Продажа Сівалки">
     <meta name="description" content="ТОВ Анналанд і ТОВ Анналанд-логістик, Cайт з продажу сільськогосподарської техніки. Наші послуги, Про Анналанд, Наша команда, Карта проїзду ви знайдете тут.">
     <link rel="icon" type="image/png" href="sysimg/annaland.com.ua%20-%20annaland-logistic.jpg" />

	<link rel="canonical" href="http://annaland.com.ua/index.html"/>
	<link rel="alternate" hreflang="uk" href="http://annaland.com.ua/index.html" />	
	<link rel="alternate" hreflang="ru" href="http://annaland.com.ua/ru/index.html" />		
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />


	<title>ТОВ Анналанд - Головна сторінка Annaland.com.ua</title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link href="~/css/style1.css" type="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
    <script src="contactform.js"></script>
    <script type="text/javascript" src="js.js"></script>
	<script type="text/javascript" src="jqzoom.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="~/css/Style.css" media="(min-width: 900px)" type="text/css" rel="stylesheet">
    <link rel="stylesheet" media="(max-width: 800px)" href="~/css/Style_mob.css" type="text/css">


    <link rel="stylesheet" href="~/css/styleM.css" type="text/css">
    <link rel="stylesheet" href="~/css/media.css" type="text/css">


	<link rel="stylesheet" href="~/css/swiper.min2.css" type="text/css">
	<script type="text/javascript" src="~/js/swiper.min3.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">


</head>
 <!-- Google Tag Manager (noscript) -->
 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWBTFHL"
                   height="0" width="0" style="display:none;visibility:hidden"></iframe>
                   </noscript>
 <!-- End Google Tag Manager (noscript) -->
<body>
 <div id="Head">

        <div class="MENU">
            <ul class="menu">
                <li class="annaland" style="font-family: proxima nova cold;"><a href="index.html" style="">Anna<span class="blue">land</span></a></li>
                <li><a href=index.html>Головна</a>
                    <ul class="submenu">
                        <li><a href=#Servise>Наші послуги</a></li>
                        <li><a href=#About>Про Анналанд</a></li>

                        <li><a href=#map>Карта проїзду</a></li>
                    </ul>
                </li>

                <li><a href=#>Про нас</a>
                    <ul class="submenu">
                        <li><a href=About.html#ab1>Історія</a></li>
                        <li><a href=About.html#ab2>Наші цілі</a></li>
                        <li><a href=About.html#ab3>Про Анналанд-логістик</a></li>
                    </ul>
                </li>

                <li><a href=#>Продаж техніки</a>
                    <ul class="submenu">
                        <li><a asp-controller="Home" asp-action="Onsale" asp-route-IdPos="1">Трактори</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale" asp-route-IdPos="2">Спецтехніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Збиральна техніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Картопляна техніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Техніка для обробка грунту</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Посівна та садильна техніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Техніка для внесення добрив</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Інша техніка</a></li>
                    </ul>
                </li>

                <li><a href=#Contact>Контакти</a></li>
                <p class="lengwich" style="font-family: 'proxima nova regular';position: relative; bottom: 10px; float: right"><a href="#" style="font-family: 'proxima nova regular'; color: red;;text-decoration: none;">УКР</a> | <a href="ru/index.html" style="font-family: 'proxima nova regular'; color: #ffffff;;text-decoration: none;">РУС</a></p>
            </ul>
    </div>
        <nav class="dws-menu">
            <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
            <label for="menu" class="toggleMenu"><i class="fa fa-bars"></i>Меню</label>
            <ul>
                <li>
                    <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m1">
                    <a href="#"><i class="fa fa-shopping-cart"></i>Головна</a>
                    <label for="sub_m1" class="toggleSubmenu"><i class="fa"></i></label>
                    <ul>
                        <li><a href="#Servise">Наші послуги</a></li>
                        <li><a href="#About">Про Анналанд</a></li>
                        <li><a href="#Ourcomand">Наша команда</a></li>
                        <li><a href="#map">Карта проїзду</a></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m2">
                    <a href="#"><i class="fa fa-cogs"></i>Про нас</a>
                    <label for="sub_m2" class="toggleSubmenu"><i class="fa"></i></label>
                    <ul>
                        <li><a href="About.html#ab1">Історія</a></li>
                        <li><a href="About.html#ab2">Наші цілі</a></li>
                        <li><a href="About.html#ab3">Про Анналанд-логістик</a></li>

                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m3">
                    <a href="#"><i class="fa fa-cogs"></i>Продаж техніки</a>
                    <label for="sub_m3" class="toggleSubmenu"><i class="fa"></i></label>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Onsale">Трактори</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Спецтехніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Збиральна техніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Картопляна техніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Техніка для обробка грунту</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Посівна та садильна техніка</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Техніка для внесення добрив</a></li>
                        <li><a asp-controller="Home" asp-action="Onsale">Інша техніка</a></li>
                    </ul>
                </li>

                <li><a href="#Contact"><i class="fa fa-envelope-open"></i>Контакти</a></li>
            </ul>
        </nav>
    </div>
            
   

            @RenderBody()
            
    <div id="Contact">
    <form id="ajax-contact-form" action="">
        <table>
            <tr>
                <td>
                    <div class="gal2 TitelST " >
                        <p style="margin: 0 0 0 0;">
                        <h1>НАШІ КОНТАКТИ</h1>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="font-family: 'proxima nova regular';">
                        Житомирська обл. Житомирський р. с.Волиця вул.Незалежності 44 |
                        <a href="tel:0934649806" style="text-decoration: none; color: #000000;">093-464-9806 Life</a>  | <a href="tel:0667016285" style="text-decoration: none; color: #000000;">066-701-6285 Vodafone</a>  | <a href="tel:0630397243" style="text-decoration: none; color: #000000;">063-039-7243 Vodafone</a> | <a href="mailto:tovannaland@gmail.com" style="text-decoration: none; color: #000000;">tovannaland@gmail.com</a>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-family: 'Proxima_Nova_Bold'; color: #57a2ee">Графік Роботи:</p>
                    <p style="font-family: 'proxima nova regular'; padding-left: 80px; color: #78b1ed"><span style="color: #57a2ee;font-family: 'Proxima_Nova_Bold';padding-right: 20px">Пн - Пт</span>	 08:00 - 17:00</p>
                    <p style="font-family: 'Proxima_Nova_Bold';padding-left: 80px; color: red"><span style="padding-right: 20px;">Сб - Нд</span>	Вихідний</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #42b8dd; font-family: 'proxima nova regular'">GPS Адреса: 50.169401, 28.618098 <a href="skype:live:tovannaland?call" style="text-decoration: none; color: #42b8dd; font-family: 'proxima nova regular'">SKYPE: live:tovannaland</a> <a href="https://www.instagram.com/tovannaland/?hl=uk" style="text-decoration: none; color: #42b8dd; font-family: 'proxima nova regular'">Instagram</a></p>
                </td>
            </tr>

            <tr>
                <td >
                    <input type="text" name="name" value="" placeholder="Ваше Ім'я" style="background-color: #ebebeb; border: 1px solid black; width: 320px; height: 40px; font-size: 25px; font-family: 'proxima nova regular'; background: url(sysimg/chuvak.png) no-repeat scroll 10px 15px; padding-left: 30px; margin-bottom: 2px;">
                    <input type="text" name="tel" value="" placeholder="Наприклад 80637776655" style="background-color: #ebebeb; border: 1px solid black; width: 320px; height: 40px; font-size: 25px; font-family: 'proxima nova regular'; background: url(sysimg/pismo.png) no-repeat scroll 10px 15px; padding-left: 30px">
                </td>

            </tr>

            <tr >
                <td>

                    <textarea id="Textarea" name="message" placeholder="НАПИШІТЬ ПОВІДОМЛЕННЯ" style=" background-color: #ebebeb; border: 1px solid black; width: 320px; height: 100px; font-size: 25px; font-family: 'proxima nova regular'; background: url(sysimg/karandash.png) no-repeat scroll 10px 5px; padding-left: 30px"></textarea>
                    <button class="btn" type="submit" name="submit" style="">Надіслати</button>
                </td>

            </tr>

        </table>
    </form>
</div>

    <div id="map">
    <script>
        function initMap() {
            var uluru = {lat: 50.169530, lng: 28.617801};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu_6lqI8SifCuE1qtyknxPR6bvWSV9rH8&callback=initMap">
    </script>

</div>

    <div id="UP">

    <div style="font-family: 'Proxima_Nova_Black'; font-size: 50px; text-align: center;padding-top: 20px; color: white"><h3><span style="color: #2a2a9e">Anna</span>land</h3></div>
    <div style="font-family: 'proxima nova regular';font-size: 20px; width: 360px; color: white; position: relative; left: calc(50% - 180px)">© 2017 AnnaLand Усі права захищені.
        Україна</div>
    <div><a href="#Head"><img src="sysimg/strelka.png" style="padding-top: 30px;" alt="ТОВ Анналанд ТОВ Annaland"></a></div>
<script>
    $(document).ready(function(){
        $("#UP").on("click","a", function (event) {
            event.preventDefault();
            var id  = $(this).attr('href'),
                    top = $(id).offset().top;
            $('body,html').animate({scrollTop: top}, 1500);
        });
    });
</script>
</div>

    <script>
    $(function(){
        $('.image-link').viewbox();
        (function(){
            var vb = $('.popup-link').viewbox();
            $('.popup-open-button').click(function(){
                vb.trigger('viewbox.open');
            });
            $('.close-button').click(function(){
                vb.trigger('viewbox.close');
            });
        })();
    });
</script>
    <script type="text/javascript" src="jquery.viewbox.js"></script>

</body>
</html>
